In [23]:
import pandas as pd
import os

In [24]:
ruta = "C:/Users/vyago/Desktop/Maestría Ciencias de Datos/07-DMEYF/exp/KA9413"
os.chdir(ruta)

In [25]:
predicciones = pd.read_csv(f'{ruta}/exp_ZZ9413_pred_01_018.csv',sep='\t')

In [26]:
pred = predicciones.sort_values("prob",ascending=False)

In [28]:
seleccion=pred.head(13000)["numero_de_cliente"]

In [32]:
for i in range(12500,15000,500):
    seleccion=pred.head(i)["numero_de_cliente"].to_list()
    entrega = pd.DataFrame()
    entrega["numero_de_cliente"] = predicciones["numero_de_cliente"]
    entrega["Predicted"] = entrega["numero_de_cliente"].apply( lambda x : 1 if x in seleccion else 0)

    entrega.to_csv(f"entrega_{i}.csv",index=False)

In [30]:
seleccion=pred.head(13500)["numero_de_cliente"].to_list()
entrega = pd.DataFrame()
entrega["numero_de_cliente"] = predicciones["numero_de_cliente"]
entrega["Predicted"] = entrega["numero_de_cliente"].apply( lambda x : 1 if x in seleccion else 0)

        numero_de_cliente  Predicted
0                31115668          0
1                31115678          0
2                31117415          0
3                31117711          0
4                31118145          0
...                   ...        ...
164343          214007475          1
164344          214013525          1
164345          214027885          0
164346          214028073          1
164347          214040232          0

[164348 rows x 2 columns]